/*
 * -------------------------------------------------------------
 *  Nextflow config file for use with Singularity on CFC at QBIC
 * -------------------------------------------------------------
 * Defines basic usage limits and singularity image id.
 */

singularity {
    enabled = true
}

process {
    beforeScript = 'module load qbic/singularity_slurm/3.0.1'
    executor = 'slurm'
}

params {
  max_memory = 60.GB
  max_cpus = 24
  max_time = 140.h
}
