/*
 * -------------------------------------------------
 *  Nextflow config file for Charliecloud
 * -------------------------------------------------
 * Assumes that pipeline dependencies are all available in
 * /opt/conda/envs/{{ cookiecutter.name_noslash }}-{{ cookiecutter.version }}/bin
 * If multiple containers are used, it may be necessary to include their environment
 * paths in the `env` scope below
 */

charliecloud {
  enabled = true
}

manifest {
  nextflowVersion = '>=20.12.0-edge'
}

env {
  PATH = "/opt/conda/bin:/opt/conda/envs/{{ cookiecutter.name_noslash }}-{{ cookiecutter.version }}/bin:$PATH"
  // TODO nf-core: If the pipeline uses additional environments, add them to $PATH as well
}