/*
 * -------------------------------------------------
 *  {{ cookiecutter.name }} Nextflow debug config file
 * -------------------------------------------------
 * A profile that adds extended debugging information to a pipeline run. 
 * You can use this by stating, e.g. "nextflow run nf-core/pipeline -profile test,debug"
 */

//To find out on which host a single process was running, log the hostname 
process.beforeScript = 'echo $HOSTNAME'


