/*
 * --------------------------------------------------------------------------------
 *  Nextflow config file for use with Singularity on University of Zurich Cluster
 * --------------------------------------------------------------------------------
 */

singularity {
    enabled = true
}

process {
    executor = 'slurm'
}

params {
    max_memory = 1800.GB
    max_cpus = 112
    max_time = 168.h
}
