##############################################################
#
# List of approvers/reviewers for metaval
#
##############################################################

# These owners will be the default owners for everything in the repo.
* @genomic-medicine-sweden/taxprofiler-devs
