email_template.html
adaptivecard.json
slackreport.json
docs/api/_build
testing
nf_core/module-template/meta.yml
nf_core/pipeline-template/nextflow_schema.json
nf_core/pipeline-template/modules.json
nf_core/pipeline-template/tower.yml
nf_core/pipeline-template/.github/ISSUE_TEMPLATE/bug_report.yml
nf_core/pipeline-template/.github/workflows/nf-test.yml
tests/data/pipeline_create_template_skip.yml
# don't run on things handled by ruff
*.py
*.pyc
