[build-system]
build-backend = 'setuptools.build_meta'
requires = [
  'setuptools>=40.6.0',
  'wheel'
]

[tool.black]
line-length = 120
target_version = ['py36','py37','py38']

[tool.pytest.ini_options]
markers = [
    "datafiles: load datafiles"
]
testpaths = ["tests"]
