click
filetype
GitPython
jinja2
jsonschema>=3.0
markdown>=3.3
packaging
pillow
pdiff
pre-commit
prompt_toolkit>=3.0.3
pytest-workflow>=2.0.0
pytest>=7.0.0
pyyaml
questionary>=1.8.0
refgenie
requests
requests_cache
rich-click>=1.6.1
rich>=13.3.1
tabulate
trogon
