click
filetype
GitPython
PyGithub
jinja2
jsonschema>=4.0
markdown>=3.3
packaging
pillow
pre-commit
prompt_toolkit<=3.0.51
pydantic>=2.2.1
pyyaml
questionary>=2.0.1
refgenie
requests
requests_cache
rich-click==1.8.*
rich>=13.3.1
rocrate
repo2rocrate
tabulate
textual==3.5.0
trogon
pdiff
ruamel.yaml
