click
filetype
GitPython
PyGithub
jinja2
jsonschema>=4.0
markdown>=3.3
packaging
pillow
pdiff
pre-commit
prompt_toolkit<=3.0.36
pydantic>=2.2.1
pyyaml
questionary>=2.0.1
refgenie
requests
requests_cache
rich-click==1.8.*
rich>=13.3.1
tabulate
textual==0.71.0
trogon
pdiff
ruamel.yaml
