
params {
  // Container slug. Tag for releases
  container = 'nfcore/tools:0.4'
  outdir = './results'
  reads = "data/*.fastq"
  singleEnd = false
}

process {
  container = params.container
  cpus = 1
  memory = 2.GB
  time = 14.h
}

timeline {
  enabled = true
  file = "timeline.html"
}
report {
  enabled = true
  file = "report.html"
}
trace {
  enabled = true
  file = "trace.txt"
}
dag {
  enabled = true
  file = "dag.svg"
}

manifest {
  name = 'nf-core/tools'
  author = 'Phil Ewels'
  homePage = 'https://github.com/nf-core/tools'
  description = 'Minimal working example pipeline'
  mainScript = 'main.nf'
  nextflowVersion = '>=0.32.0'
  version = '0.4'
}
