
// Pipeline version
version = "0.4dev"

// Minimum version of nextflow required
nf_required_version = '0.25.1'

timeline {
  enabled = true
  file = "timeline.html"
}
report {
  enabled = true
  file = "report.html"
}
trace {
  enabled = true
  file = "trace.txt"
}

manifest {
  homePage = 'https://github.com/nf-core/tools'
  description = 'Minimal working example pipeline'
  mainScript = 'main.nf'
}
