
params {
  // Pipeline version
  version = "0.4"
  // Minimum version of nextflow required
  nf_required_version = '0.27.0'
  // Container slug. Tag for releases
  container = 'nf-core/tools'
  outdir = './results'
  reads = "data/*.fastq"
  singleEnd = false
}

process {
  container = params.container
  cpus = 1
  memory = 2.GB
  time = 14.h
}

timeline {
  enabled = true
  file = "timeline.html"
}
report {
  enabled = true
  file = "report.html"
}
trace {
  enabled = true
  file = "trace.txt"
}
dag {
  enabled = true
  file = "dag.html"
}

manifest {
  homePage = 'https://github.com/nf-core/tools'
  description = 'Minimal working example pipeline'
  mainScript = 'main.nf'
}
