/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        ext.args = '--quiet'
        ext.prefix = { "${meta.id}_${meta.run_accession}_input" }
        publishDir = [
            path: { "${params.outdir}/fastqc/input" },
            mode: params.publish_dir_mode,
            pattern: '*.{html}'
        ]
    }

    withName: EXTRACT_VIRAL_TAXID {
        ext.prefix = { "${meta.id}_${meta.tool}" }
        publishDir = [
            path: {"${params.outdir}/viral_taxids" },
            mode: params.publish_dir_mode,
            pattern: '*viral_taxids.tsv'
        ]
    }

    withName: KRAKENTOOLS_EXTRACTKRAKENREADS {
        ext.args = { params.fastq_output ? "--fastq-output" : ""}
        ext.prefix = { "${meta.id}_${taxid.toString().replaceAll(' ', '-')}" }
        publishDir = [
            path: { "${params.outdir}/extracted_reads/kraken2" },
            mode: params.publish_dir_mode,
            pattern: '*.{fastq,fasta}'
        ]
    }

    withName: EXTRACTCENTRIFUGEREADS {
        ext.prefix = { "${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/extracted_reads/centrifuge" },
            mode: params.publish_dir_mode,
            pattern: '*.fastq'
        ]
    }

    withName: EXTRACTCDIAMONDREADS {
        ext.prefix = { "${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/extracted_reads/diamond" },
            mode: params.publish_dir_mode,
            pattern: '*.fastq'
        ]
    }

    withName: RM_EMPTY_KRAKEN2 {
        publishDir = [
            path: { "${params.outdir}/extracted_reads/kraken2" },
            enabled : false
        ]
    }

    withName: RM_EMPTY_CENTRIFUGE {
        publishDir = [
            path: { "${params.outdir}/extracted_reads/centrifuge" },
            enabled : false
        ]
    }

    withName: RM_EMPTY_DIAMOND {
        publishDir = [
            path: { "${params.outdir}/extracted_reads/diamond" },
            enabled : false
        ]
    }

    withName: SPADES {
        ext.args = { "--meta"} // solve uneven coverage across genome
        ext.prefix = { "${meta.id}_${meta.taxid}" }
        publishDir = [
            path: { "${params.outdir}/spades/${meta.tool}" },
            mode: params.publish_dir_mode,
            pattern: '*.{fa.gz,log}'
        ]
    }

    withName: FLYE {
        ext.prefix = { "${meta.id}_${meta.taxid}" }
        publishDir = [
            path: { "${params.outdir}/flye/${meta.tool}" },
            mode: params.publish_dir_mode,
            pattern: '*.{fastq.gz,txt,log,json}'

        ]
    }

    withName: '.*:FASTQ_ALIGN_BOWTIE2:BAM_SORT_STATS_SAMTOOLS:SAMTOOLS_(SORT|INDEX)' {
        publishDir = [
            path: { "$params.outdir/pathogens/bowtie2/align" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SAMTOOLS_SORT' {
        ext.prefix = { "${meta.id}_aligned_pathogens_genome_sorted"}
        publishDir = [ enabled: false ]
    }

    withName: '.*:FASTQ_ALIGN_BOWTIE2:BAM_SORT_STATS_SAMTOOLS:BAM_STATS_SAMTOOLS:.*' {
        publishDir = [ enabled: false ]
    }

    withName: 'BOWTIE2_BUILD_PATHOGEN' {
        ext.args = '--large-index'
        publishDir = [
            path: { "$params.outdir/pathogens/bowtie2/build" },
            mode: params.publish_dir_mode,
            pattern: 'bowtie2'
        ]
    }

    withName: '.*:FASTQ_ALIGN_BOWTIE2:BOWTIE2_ALIGN' {
        ext.args = '--no-unal'
        ext.args2 = '-f 3'
        publishDir = [ enabled: false]
    }

    withName: '.*:LONGREAD_SCREENPATHOGEN:MINIMAP2_INDEX' {
        ext.args = '-x map-ont'
        publishDir = [
            path: { "$params.outdir/pathogens/minimap2/index" },
            mode: params.publish_dir_mode,
            pattern: '*.mmi'
        ]
    }

    withName: '.*:LONGREAD_SCREENPATHOGEN:MINIMAP2_ALIGN' {
        ext.args = '--sam-hit-only'
        publishDir = [ enabled: false]
    }

    withName: '.*:LONGREAD_SCREENPATHOGEN:BAM_SORT_STATS_SAMTOOLS:SAMTOOLS_(SORT|INDEX)' {
        publishDir = [
            path: { "$params.outdir/pathogens/minimap2/align" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:LONGREAD_SCREENPATHOGEN:BAM_SORT_STATS_SAMTOOLS:BAM_STATS_SAMTOOLS:.*' {
        publishDir = [ enabled: false ]
    }

    withName: '.*TAXID_BAM_FASTA_SHORTREAD:SAMTOOLS_IDXSTATS' {
        publishDir = [ enabled : false ]
    }

    withName: '.*TAXID_BAM_FASTA_SHORTREAD:SUBSET_BAM_PASS' {
        ext.prefix = { "${meta.id}_${meta.taxid}"}
        ext.args = '-bh'
        publishDir = [
            path: { "$params.outdir/pathogens/taxid_bam/" },
            enabled : false
        ]
    }

    withName: '.*TAXID_BAM_FASTA_SHORTREAD:SAMTOOLS_SORT_PASS' {
        ext.prefix = { "${meta.id}_${meta.taxid}_sorted"}
        publishDir = [
            path: { "$params.outdir/pathogens/taxid_bam/" },
            mode: params.publish_dir_mode,
            pattern: '*.{bam}'
        ]
    }

    withName: '.*TAXID_BAM_FASTA_SHORTREAD:SAMTOOLS_INDEX' {
        ext.prefix = { "${meta.id}_${meta.taxid}_sorted"}
        publishDir = [
            path: { "$params.outdir/pathogens/taxid_bam/" },
            mode: params.publish_dir_mode,
            pattern: '*.{bai}'
        ]
    }

    withName: '.*TAXID_BAM_FASTA_SHORTREAD:SAMTOOLS_FASTA' {
        ext.prefix = { "${meta.id}_${meta.taxid}" }
        publishDir = [
            path: { "$params.outdir/pathogens/taxid_fasta/" },
            mode: params.publish_dir_mode,
            pattern: '*_{1,2}.fasta.gz'
        ]
    }

    withName: '.*TAXID_BAM_FASTA_LONGREAD:SAMTOOLS_IDXSTATS' {
        publishDir = [ enabled : false ]
    }

    withName: '.*TAXID_BAM_FASTA_LONGREAD:SAMTOOLS_SORT_PASS' {
        ext.prefix = { "${meta.id}_${meta.taxid}_sorted"}
        publishDir = [
            path: { "$params.outdir/pathogens/taxid_bam/" },
            mode: params.publish_dir_mode,
            pattern: '*.{bam}'
        ]
    }

    withName: '.*TAXID_BAM_FASTA_LONGREAD:SAMTOOLS_INDEX' {
        ext.prefix = { "${meta.id}_${meta.taxid}_sorted"}
        publishDir = [
            path: { "$params.outdir/pathogens/taxid_bam/" },
            mode: params.publish_dir_mode,
            pattern: '*.{bai}'
        ]
    }

    withName: '.*TAXID_BAM_FASTA_LONGREAD:SAMTOOLS_FASTA' {
        ext.prefix = { "${meta.id}_${meta.taxid}" }
        publishDir = [
            path: { "$params.outdir/pathogens/taxid_fasta/" },
            mode: params.publish_dir_mode,
            pattern: '*_other.fasta.gz'
        ]
    }

    withName: 'SHORTREAD_SAMTOOLS_CONSENSUS' {
        ext.prefix = { "${meta.id}_${meta.taxid}_samtools" }
        publishDir = [ enabled: false ]
    }

    withName: 'PIGZ_COMPRESS' {
        ext.prefix = { "${meta.id}_${meta.taxid}_samtools" }
        publishDir = [
            path: { "$params.outdir/pathogens/consensus/" },
            mode: params.publish_dir_mode,
            pattern: '*.fasta.gz'
        ]
    }

    withName: '.*LONGREAD_CONSENSUS:MEDAKA' {
        ext.prefix = { "${meta.id}_${meta.taxid}_medaka" }
        ext.args1 = '-A'
        ext.args3 = '--no-fillgaps' // Don't fill gaps in consensus with draft sequence
        publishDir = [
            path: { "$params.outdir/pathogens/consensus/" },
            mode: params.publish_dir_mode,
            pattern: '*.fa.gz'
        ]
    }

    withName: '.*LONGREAD_CONSENSUS:SAMTOOLS_CONSENSUS' {
        ext.prefix = { "${meta.id}_${meta.taxid}_samtools" }
        publishDir = [ enabled: false ]
    }

    withName: '.*LONGREAD_CONSENSUS:PIGZ_COMPRESS' {
        ext.prefix = { "${meta.id}_${meta.taxid}_samtools" }
        publishDir = [
            path: { "$params.outdir/pathogens/consensus/" },
            mode: params.publish_dir_mode,
            pattern: '*.fasta.gz'
        ]
    }

    withName: MULTIQC {
        ext.args = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
