/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Test the consensus sequence calling tool, samtools, in the pathogen screening workflow

    Use as follows:
        nextflow run genomic-medicine-sweden/metaval -profile test_screenpathogen,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    // Limit resources so that this can run on GitHub Actions
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '6.h'
    ]
}

params {
    config_profile_name           = 'Test user defined taxid profile'
    config_profile_description    = 'Minimal test dataset to check pipeline function'

    // Input data
    input                         = params.pipelines_testdata_base_path + 'samplesheet.csv'
    pathogens_genomes             = params.pipelines_testdata_base_path + 'reference/reference.fasta'
    accession2taxid               = params.pipelines_testdata_base_path + 'reference/accession2taxid.map'

    // Extract reads
    perform_extract_reads         = false
    extract_kraken2_reads         = false
    fastq_output                  = false
    extract_centrifuge_reads      = false
    extract_diamond_reads         = false
    evalue                        = 1e-20

    // de novo
    perform_shortread_denovo      = false
    perform_longread_denovo       = false
    min_read_counts               = 20

    // Screen pathogens
    perform_screen_pathogens      = true
    perform_longread_consensus    = true
    perform_shortread_consensus   = true
    longread_consensus_tool       = 'samtools'

}
