{% if email -%}
email_template.html
{%- endif %}
{%- if adaptivecard %}
adaptivecard.json
{%- endif %}
{%- if slackreport %}
slackreport.json
{%- endif %}
.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
bin/
