/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    AWS ECR Config
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config to set public AWS ECR images wherever possible.
    This improves speed when running on AWS infrastructure.
    Where container is not available on AWS ECR, the container definition
    is specified as a full URI here. This means it will ignore the registry
    setting.
    Use this as an example template when using your own private registry.
----------------------------------------------------------------------------------------
*/

docker.registry = 'public.ecr.aws'
podman.registry = 'public.ecr.aws'
singularity.registry = 'public.ecr.aws'

process {
    withName: 'SAMPLESHEET_CHECK' {
        container = 'quay.io/biocontainers/python:3.8.3'
    }
}
