name: Create a pipeline and lint it
on: [push, pull_request]

jobs:
  MakeTestWorkflow:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        name: Check out source-code repository

      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7

      - name: Install python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .

      - name: Install Nextflow
        env:
          CAPSULE_LOG: none
        run: |
          mkdir /tmp/nextflow
          cd /tmp/nextflow
          wget -qO- get.nextflow.io | bash
          sudo ln -s /tmp/nextflow/nextflow /usr/local/bin/nextflow

      - name: Run nf-core/tools
        env:
          GITHUB_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          nf-core --log-file log.txt create -n testpipeline -d "This pipeline is for testing" -a "Testing McTestface"
          nf-core --log-file log.txt lint nf-core-testpipeline
          nf-core --log-file log.txt list
          nf-core --log-file log.txt licences nf-core-testpipeline
          nf-core --log-file log.txt sync nf-core-testpipeline/
          nf-core --log-file log.txt schema build nf-core-testpipeline/ --no-prompts
          nf-core --log-file log.txt bump-version nf-core-testpipeline/ 1.1
          nf-core --log-file log.txt modules install nf-core-testpipeline/ fastqc

      - name: Upload log file artifact
        uses: actions/upload-artifact@v2
        with:
          name: nf-core-log-file
          path: log.txt
