name: Create a pipeline and run nf-core linting
on:
  push:
    branches:
      - dev
      # https://docs.renovatebot.com/key-concepts/automerge/#branch-vs-pr-automerging
      - "renovate/**" # branches Renovate creates
    paths-ignore:
      - "docs/**"
      - "CHANGELOG.md"
  pull_request:
    paths-ignore:
      - "docs/**"
      - "CHANGELOG.md"
  release:
    types: [published]
  workflow_dispatch:

# Cancel if a newer run is started
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  prepare-cache:
    name: Pre-build caches for lint jobs
    runs-on:
      - runs-on=${{ github.run_id }}-prepare-cache
      - runner=2cpu-linux-x64
      - extras=s3-cache
    strategy:
      matrix:
        NXF_VER:
          - "25.04.0"
          - "latest-everything"
    steps:
      - name: Enable Magic Cache
        uses: runs-on/action@v2

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        name: Check out source-code repository

      - name: Set up Python 3.14
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
        with:
          python-version: "3.14"
          cache: pip

      - name: Cache Python dependencies
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/pyproject.toml', '**/requirements*.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .

      - name: Get current date
        id: date
        run: echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

      - name: Cache Nextflow assets
        uses: actions/cache@v4
        with:
          path: ~/.nextflow
          key: ${{ runner.os }}-nextflow-${{ matrix.NXF_VER }}-${{ matrix.NXF_VER == 'latest-everything' && steps.date.outputs.date || 'stable' }}
          restore-keys: |
            ${{ runner.os }}-nextflow-${{ matrix.NXF_VER }}-

      - name: Cache pre-commit
        uses: actions/cache@v4
        with:
          path: ~/.cache/pre-commit
          key: ${{ runner.os }}-precommit-${{ hashFiles('.pre-commit-config.yaml') }}
          restore-keys: |
            ${{ runner.os }}-precommit-

      - name: Install Nextflow
        uses: nf-core/setup-nextflow@v2
        with:
          version: ${{ matrix.NXF_VER }}

      - name: Install pre-commit hooks
        run: |
          pip install pre-commit
          pre-commit install-hooks

  MakeTestWorkflow:
    runs-on:
      - runs-on=${{ github.run_id }}-make-test-worfklow
      - runner=4cpu-linux-x64
      - extras=s3-cache
    needs: prepare-cache
    env:
      NXF_ANSI_LOG: false

    strategy:
      matrix:
        NXF_VER:
          - "25.04.0"
          - "latest-everything"
    steps:
      - name: Enable Magic Cache
        uses: runs-on/action@v2

      - name: go to subdirectory and change nextflow workdir
        run: |
          mkdir -p create-lint-wf
          cd create-lint-wf
          export NXF_WORK=$(pwd)

      # Get the repo code
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        name: Check out source-code repository

      # Set up nf-core/tools
      - name: Set up Python 3.14
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
        with:
          python-version: "3.14"
          cache: pip

      - name: Cache Python dependencies
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/pyproject.toml', '**/requirements*.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .

      - name: Get current date
        id: date
        run: echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

      - name: Cache Nextflow assets
        uses: actions/cache@v4
        with:
          path: ~/.nextflow
          key: ${{ runner.os }}-nextflow-${{ matrix.NXF_VER }}-${{ matrix.NXF_VER == 'latest-everything' && steps.date.outputs.date || 'stable' }}
          restore-keys: |
            ${{ runner.os }}-nextflow-${{ matrix.NXF_VER }}-

      - name: Cache pre-commit
        uses: actions/cache@v4
        with:
          path: ~/.cache/pre-commit
          key: ${{ runner.os }}-precommit-${{ hashFiles('.pre-commit-config.yaml') }}
          restore-keys: |
            ${{ runner.os }}-precommit-

      - name: run create-lint-wf
        uses: ./.github/actions/create-lint-wf
        with:
          NXF_VER: ${{ matrix.NXF_VER }}

      # Build a module from the template
      - name: nf-core modules create
        run: nf-core --verbose --log-file log.txt modules create bpipe --dir nf-core-testpipeline --author @nf-core-bot --label process_low --meta
        working-directory: create-lint-wf

      # Remove TODO statements
      - name: remove TODO
        run: find nf-core-testpipeline -type f -exec sed -i '/TODO nf-core:/d' {} \;
        working-directory: create-lint-wf

      # Uncomment includeConfig statement
      - name: uncomment include config
        run: find nf-core-testpipeline -type f -exec sed -i 's/\/\/ includeConfig/includeConfig/' {} \;
        working-directory: create-lint-wf

      # Run the other nf-core commands
      - name: nf-core pipelines list
        run: nf-core --log-file log.txt pipelines list
        working-directory: create-lint-wf

      - name: nf-core pipelines schema
        run: nf-core --log-file log.txt pipelines schema build --dir nf-core-testpipeline/ --no-prompts
        working-directory: create-lint-wf

      - name: Cleanup work directory
        run: sudo rm -rf create-lint-wf
        if: always()
