name: Create a pipeline and test it
on:
  push:
    branches:
      - dev
      # https://docs.renovatebot.com/key-concepts/automerge/#branch-vs-pr-automerging
      - "renovate/**" # branches Renovate creates
    paths-ignore:
      - "docs/**"
      - "CHANGELOG.md"
  pull_request:
    paths-ignore:
      - "docs/**"
      - "CHANGELOG.md"
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      runners:
        description: "Runners to test on"
        type: choice
        options:
          - "ubuntu-latest"
          - "self-hosted"
        default: "self-hosted"

# Cancel if a newer run is started
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  RunTestWorkflow:
    # use the runner given by the input if it is dispatched manually, run on github if it is a rerun or on self-hosted by default
    runs-on: ${{ github.event.inputs.runners || github.run_number > 1 && 'ubuntu-latest' || 'self-hosted' }}
    env:
      NXF_ANSI_LOG: false

    strategy:
      matrix:
        NXF_VER:
          - "24.04.2"
          - "latest-everything"
    steps:
      - name: go to working directory
        run: |
          mkdir -p create-test-wf
          cd create-test-wf
          export NXF_WORK=$(pwd)

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        name: Check out source-code repository

      - name: Set up Python 3.12
        uses: actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38 # v5
        with:
          python-version: "3.13"

      - name: Install python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .

      - name: Install Nextflow
        uses: nf-core/setup-nextflow@v2
        with:
          version: ${{ matrix.NXF_VER }}

      - name: Run nf-core/tools
        run: |
          mkdir create-test-wf && cd create-test-wf
          export NXF_WORK=$(pwd)
          nf-core --log-file log.txt pipelines create -n testpipeline -d "This pipeline is for testing" -a "Testing McTestface"
          nextflow run nf-core-testpipeline -profile self_hosted_runner,test --outdir ./results

      - name: Upload log file artifact
        if: ${{ always() }}
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: nf-core-log-file-${{ matrix.NXF_VER }}
          path: create-test-wf/log.txt

      - name: Cleanup work directory
        # cleanup work directory
        run: sudo rm -rf create-test-wf
        if: always()
