name: nf-core Docker push (release)
# This builds the docker image and pushes it to DockerHub
# Runs on nf-core repo releases
on:
  release:
    types: [published]

# Cancel if a newer run is started
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  push_dockerhub:
    name: Push new Docker image to Docker Hub (release)
    runs-on: ubuntu-latest
    # Only run for the nf-core repo, for releases and merged PRs
    if: ${{ github.repository == 'nf-core/tools' }}
    env:
      TARGET_PLATFORM: "linux/amd64,linux/arm64"
    strategy:
      fail-fast: false
    steps:
      - name: Check out code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Set up QEMU for multi-architecture build
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3

      - name: Log in to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASS }}

      - name: Build and push nfcore/tools docker image (latest)
        run: |
          docker buildx build \
           --platform ${{ env.TARGET_PLATFORM }} \
           -t nfcore/tools:${{ github.event.release.tag_name }} \
           -t nfcore/tools:latest \
           --push --no-cache .

      - name: Build nfcore/devcontainer:latest devcontainer image
        uses: devcontainers/ci@8bf61b26e9c3a98f69cb6ce2f88d24ff59b785c6 # v0.3
        with:
          configFile: .devcontainer/build-devcontainer/devcontainer.json
          imageName: nfcore/devcontainer
          imageTag: ${{ github.event.release.tag_name }},latest
          platform: ${{ env.TARGET_PLATFORM }}
          push: always
          noCache: true
