name: nf-core Docker push (dev)
# This builds the docker image and pushes it to DockerHub
# Runs on nf-core repo releases and push event to 'dev' branch (PR merges)
on: workflow_dispatch

# Cancel if a newer run is started
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  push_dockerhub:
    name: Push new Docker image to Docker Hub (dev)
    runs-on: ubuntu-latest
    # Only run for the nf-core repo, for releases and merged PRs
    #if: ${{ github.repository == 'nf-core/tools' }}
    env:
      TARGET_PLATFORM: "linux/amd64,linux/arm64"
    strategy:
      fail-fast: false
    steps:
      - name: Check out code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Set up QEMU for multi-architecture build
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3

      - name: Log in to Docker Hub
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASS }}

      # Retry building tools image once because of irregularly occuring
      # 403 http errors when installing nf-test
      - name: Build nfcore/tools image (dev)
        uses: nick-fields/retry@ce71cc2ab81d554ebbe88c79ab5975992d79ba08 # v3
        with:
          max_attempts: 2
          timeout_seconds: 30
          retry_on: error
          command: |
            docker buildx build \
            --platform ${{ env.TARGET_PLATFORM }} \
            -t fljulian/nfcore-tools:dev \
            --push --no-cache .

      - name: Build and push nfcore/devcontainer:dev image (dev)
        uses: devcontainers/ci@8bf61b26e9c3a98f69cb6ce2f88d24ff59b785c6 # v0.3
        with:
          configFile: .devcontainer/build-devcontainer/devcontainer.json
          imageName: fljulian/nfcore-devcontainer
          imageTag: dev
          platform: ${{ env.TARGET_PLATFORM }}
          push: always
          noCache: true
