name: Generate images for docs
on:
  workflow_dispatch:
jobs:
  rich_codex:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4
      - name: Set up Python
        uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d # v5
        with:
          python-version: 3.x
          cache: pip
          cache-dependency-path: setup.py

      - name: Install Nextflow
        uses: nf-core/setup-nextflow@v2

      - name: Install nf-test
        uses: nf-core/setup-nf-test@v1.1

      - name: Install nf-core/tools
        run: pip install git+https://github.com/nf-core/tools.git@dev

      - name: Generate terminal images with rich-codex
        uses: ewels/rich-codex@8ce988cc253c240a3027ba58e33e47640935dd8b # v1
        env:
          COLUMNS: 100
          HIDE_PROGRESS: "true"
        with:
          commit_changes: "true"
          clean_img_paths: docs/images/*.svg
          terminal_width: 100
          before_command: >
            which nextflow &&
            which nf-core &&
            nextflow -version &&
            nf-core --version
