name: Sync template
on:
  # release:
  #   types: [published]
  workflow_dispatch:
    inputs:
      testpipeline:
        type: boolean
        description: Only run on nf-core/testpipeline?
        required: true
      force_pr:
        description: "Force a PR to be created"
        type: boolean
        default: false
      pipeline:
        description: "Pipeline to sync"
        type: string
        default: "all"
      debug:
        description: "Enable debug/verbose mode (true or false)"
        type: boolean
        default: false
      blog_post:
        description: "link to release blogpost"
        type: string
        required: true

# Cancel if a newer run is started
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  get-pipelines:
    runs-on: "ubuntu-latest"
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - id: set-matrix
        run: |
          if [ "${{ github.event.inputs.testpipeline }}" == "true" ]; then
            echo '{"pipeline":["testpipeline"]}' > pipeline_names.json
          elif [ "${{ github.event.inputs.pipeline }}" != "all" ] && [ "${{ github.event.inputs.pipeline }}" != "" ]; then
            curl -O https://nf-co.re/pipeline_names.json
            # check if the pipeline exists
            if ! grep -q "\"${{ github.event.inputs.pipeline }}\"" pipeline_names.json; then
              echo "Pipeline ${{ github.event.inputs.pipeline }} does not exist"
              exit 1
            fi
            echo '{"pipeline":["${{ github.event.inputs.pipeline }}"]}' > pipeline_names.json
          else
            curl -O https://nf-co.re/pipeline_names.json
          fi
          echo "matrix=$(cat pipeline_names.json)" >> $GITHUB_OUTPUT

  sync:
    needs: get-pipelines
    runs-on:
      - runs-on=${{ github.run_id }}-sync
      - runner=4cpu-linux-x64
      - extras=s3-cache
    strategy:
      matrix: ${{fromJson(needs.get-pipelines.outputs.matrix)}}
      fail-fast: false
    steps:
      - name: Enable Magic Cache
        uses: runs-on/action@v2

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        name: Check out nf-core/tools
        with:
          ref: ${{ github.ref_name }}

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        name: Check out nf-core/${{ matrix.pipeline }}
        with:
          repository: nf-core/${{ matrix.pipeline }}
          ref: dev
          token: ${{ secrets.nf_core_bot_auth_token }}
          path: nf-core/${{ matrix.pipeline }}
          fetch-depth: "0"

      - name: Set up Python 3.14
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
        with:
          python-version: "3.14"
          cache: "pip"

      - name: Cache Python dependencies
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/pyproject.toml', '**/requirements*.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .

      - name: Get current date
        id: date
        run: echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

      - name: Cache Nextflow assets
        uses: actions/cache@v4
        with:
          path: ~/.nextflow
          key: ${{ runner.os }}-nextflow-latest-everything-${{ steps.date.outputs.date }}
          restore-keys: |
            ${{ runner.os }}-nextflow-latest-everything-

      - name: Install Nextflow
        uses: nf-core/setup-nextflow@v2
        with:
          version: "latest-everything"

      - name: Set Git default branch from nextflow.config and set git default branch to that or "master"

        run: |
          pushd nf-core/${{ matrix.pipeline }}
          defaultBranch=$(grep -B5 -A5 "nextflowVersion" nextflow.config | grep "defaultBranch" | cut -d"=" -f2 | sed "s/'//g")
          if [ -z "$defaultBranch" ]; then
            defaultBranch="master"
          fi
          popd
          echo "Default branch: $defaultBranch"
          echo "defaultBranch=$defaultBranch" >> GITHUB_OUTPUT
          git config --global init.defaultBranch $defaultBranch

      - name: Run synchronisation
        if: github.repository == 'nf-core/tools'
        env:
          GITHUB_AUTH_TOKEN: ${{ secrets.nf_core_bot_auth_token }}
        run: |
          git config --global user.email "core@nf-co.re"
          git config --global user.name "nf-core-bot"
          nf-core --log-file sync_log_${{ matrix.pipeline }}.txt \
            ${{ github.event.inputs.debug == 'true' && '--verbose' || '' }} \
            pipelines sync -d nf-core/${{ matrix.pipeline }} \
            --from-branch dev \
            --pull-request \
            --username nf-core-bot \
            --github-repository nf-core/${{ matrix.pipeline }}
            --blogpost ${{inputs.blogpost}}

      - name: Upload sync log file artifact
        if: ${{ always() }}
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: sync_log_${{ matrix.pipeline }}
          path: sync_log_${{ matrix.pipeline }}.txt
